<h1 *ngIf="collection">
    {{ collection.name }}
    <span *ngIf="collection.institution" id="subtitle">
        at
        <a [routerLink]="[INSTITUTION_ROUTE, collection.institution._id]">
            {{ collection.institution.name }}
        </a>
    </span>
    <button class="icon-button" (click)="isEditing = true" [disabled]="isEditing">
        <mat-icon color="primary">edit</mat-icon>
    </button>
</h1>

<div *ngIf="collection && isEditing">
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Collection name</mat-label>
                <input matInput [formControl]="nameControl">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Collection code</mat-label>
                <input matInput [formControl]="codeControl">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>URL</mat-label>
                <input matInput type="url" [formControl]="urlControl">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Size (specimens)</mat-label>
                <input matInput type="number" [formControl]="sizeControl">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Tier</mat-label>
                <input matInput type="number" [formControl]="tierControl">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput [formControl]="countryControl">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>State</mat-label>
                <input matInput [formControl]="provinceControl">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input matInput type="number" [formControl]="latControl">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input matInput type="number" [formControl]="lngControl">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button
                mat-raised-button
                color="primary"
                [disabled]="!form.valid"
                (click)="applyEdits()"
            >
                Apply
            </button>
            <button mat-raised-button (click)="cancelEdits()">
                Cancel
            </button>
        </div>
    </div>
</div>

<ng-container *ngIf="collection && !isEditing">
    <table>
        <tr>
            <td class="label">ID</td>
            <td class="value">{{ collection._id }}</td>
        </tr>
        <tr>
            <td class="label">Collection Code</td>
            <td class="value">{{ collection.code }}</td>
        </tr>
        <tr>
            <td class="label">Size (specimens)</td>
            <td class="value">{{ collection.size | number }}</td>
        </tr>
        <tr>
            <td class="label">Tier</td>
            <td class="value">{{ collection.tier }}</td>
        </tr>
        <tr>
            <td class="label">URL</td>
            <td class="value">
                <a
                    *ngIf="collection.url"
                    href="{{ collection.url.startsWith('http') ? '' : 'http://' }}{{ collection.url }}"
                    target="_blank"
                >
                    {{ collection.url }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="label">In iDigBio?</td>
            <td class="value">
                <mat-icon>
                    {{ collection.inIdigbio ? 'check' : 'clear' }}
                </mat-icon>
            </td>
        </tr>
        <ng-container *ngIf="collection.location">
            <tr>
                <td class="label">State</td>
                <td class="value">{{ collection.location.state }}</td>
            </tr>
            <tr>
                <td class="label">Country</td>
                <td class="value">{{ collection.location.country }}</td>
            </tr>
            <tr>
                <td class="label">Latitude</td>
                <td class="value">{{ collection.location.lat }}</td>
            </tr>
            <tr>
                <td class="label">Longitude</td>
                <td class="value">{{ collection.location.lng }}</td>
            </tr>
        </ng-container>
    </table>
</ng-container>
