<table
    mat-table
    matSort
    class="mat-elevation-z8"
    [dataSource]="institutions"
    (matSortChange)="onSort($event)"
>
    <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            ID
        </th>
        <td mat-cell *matCellDef="let institution">{{ institution._id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Institution Name
        </th>
        <td mat-cell *matCellDef="let institution">
            <a [routerLink]="[INSTITUTION_ROUTE, institution._id]">
                {{ institution.name }}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Institution Code
        </th>
        <td mat-cell *matCellDef="let institution">{{ institution.code }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let institution">
            <button class="icon-button" (click)="deleteInstitution(institution._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
