<div class="row mx-2">
    <!-- Checkbox -->
    <ng-container *ngIf="type === 'checkbox' else notCheckbox">
        <div class="col-2 my-3">
            <label id="label">{{ label }}</label>
        </div>

        <div class="col-8 my-3">
            <ng-container *ngIf="isEditing else notCheckboxNotEditing">
                <mat-checkbox
                    color="primary"
                    aria-labelledby="label"
                    [(ngModel)]="value"
                >
                </mat-checkbox>
            </ng-container>

            <ng-template #notCheckboxNotEditing>
                <mat-checkbox
                    disabled="true"
                    color="primary"
                    aria-labelledby="label"
                    [(ngModel)]="value"
                >
                </mat-checkbox>
            </ng-template>

        </div>
    </ng-container>

    <!-- Not checkbox -->
    <ng-template #notCheckbox>
        <div class="col-2">
            <p id="pLabel" class="py-3">{{ label }}</p>
        </div>

        <div class="col-8">
            <ng-container *ngIf="isEditing else notEditing">
                <mat-form-field>
                    <input
                        matInput
                        aria-labelledby="pLabel"
                        [type]="type"
                        [(ngModel)]="value"
                    >
                </mat-form-field>
            </ng-container>

            <ng-template #notEditing>
                <p class="py-3">{{ value }}</p>
            </ng-template>
        </div>

    </ng-template>
</div>
