@import "../common";

.mat-toolbar {
    span {
        .margin-x(1rem);
    }

    a {
        color: rgba(100, 100, 100, 1);
        text-decoration: none;

        &:hover {
            color: rgba(100, 100, 100, 0.8);
        }
    }
}
