body {
  font-family: "Abhaya Libre", "serif";
  background-color: #303030;
  color: white;
  padding: 0;
  margin: 0;
}

.marker {
  background-color: blue;
  background-size: cover;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 500px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Abhaya Libre", "serif";
  background-color: #303030;
  color: white;
}

#header {
  text-align: center;
  padding: 1em;
  background-color: darkgreen;
}

/* Default is to take up the whole screen */
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* If the screen is bigger than 1024px:
  - Fix the map width, height, give it a margin
  - Give the header a margin
 */
@media screen and (min-width: 1024px) {
  #header {
    margin: 0.5em;
  }

  #map {
    margin: 2em;
    width: 1024px;
    height: 768px;
  }
}
