html, body, #content {
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;
}

body {
  font-family: "Abhaya Libre", "serif";
  background-color: #303030;
  color: white;
}

#content {
  display: flex;
  flex-direction: column;
}

#header {
  z-index: 1000;
  height: 5em;
  text-align: center;
  padding: 1em;
  background: linear-gradient(-45deg, green, darkgreen);
  box-shadow: 0 0.1rem 1rem 1rem rgba(0, 0, 0, 0.4);
}

#map {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  #header {
    font-size: 0.5em;
  }
}

.leaflet-map-pane {
  z-index: 2 !important;
}