body {
  font-family: "Abhaya Libre", "serif";
  background-color: #303030;
  color: white;
}

.marker {
  background-color: blue;
  background-size: cover;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  cursor: pointer;
}

#header {
  text-align: center;
  padding: 1em;
  background-color: darkgreen;
}

#map {
  margin-top: 4em;

  width: 70%;
  height: 60%;

  /* background-color: black; */

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
