.btn-primary {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
}

.border-primary {
  border-color: darkgreen !important;
}

.text-primary {
  color: darkgreen !important;
}