/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/grid";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';

@import "~leaflet/dist/leaflet.css";

* {
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
    color: white;
    background: darkred;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    &:disabled {
        opacity: 50%;
        cursor: default;

        &:hover {
            transform: none;
        }
    }

    transition: transform 0.25s;
}
