/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/grid";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#mainContent {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.snackbar-error {
    color: black;
    background: mat-color($mat-pink);
}
